/*css code to style the path page of the webdashboard,
which has a table and graph to create and view purepursuit paths*/

body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.chartWrapper {
    flex-grow: 2;
    min-width: 10vw;
    height: 100vh;
}

#menuPopup {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    visibility: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#copyButton {
    background: var(--orange);
}

#pasteButton {
    background: var(--orange);
}

#clearButton {
    background: var(--red);
}

#closeButton {
    background: var(--green);
}

#pastePopup {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    visibility: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#pasteForm {
    top: 20%;
}

#pasteCloseButton {
    background: var(--red);
    width: 30%;
}

#pastePathButton {
    background: var(--green);
    width: 30%;
}

button.form {
    position: relative;
    top: 5%;
    margin-top: 5%;
    width: 50%;
    height: auto;
    border-radius: 2vh;
    border-width: 0;
    font-size: 5vmin;
    color: darkslategrey;
    padding: 1% 0% 1% 0;
}

input.form {
    position: relative;
    top: 5%;
    width: 60%;
    height: 90%;
    font-size: 5vmin;
    border-width: 1px;
    margin-bottom: 1vh;
    border-color: var(--background);
    background: var(--white);
    color: var(--foreground);
}

div.form {
    background: var(--white);
    position: absolute;
    visibility: hidden;
    border-radius: 3vh;
    border-width: 0;
    left: 20%;
    top: 10%;
    width: 60%;
    height: auto;
    padding-bottom: 3%;
    text-align: center;
}

table {
    flex-grow: 0;
    margin-top: 3vh;
    margin-left: 2vw;
    background: var(--background);
    color: var(--graph);
    border-radius: 1vmin;
    float: right;
}

thead {
    display: block;
}

tbody {
    display: block;
    overflow: auto;
    height: 84vh;
    border: 0;
}

th {
    font-size: 3vw;
    width: 80px;
    padding: 1vmin;
}

td {
    font-size: 2vw;
    width: 80px;
    height: 20px;
    padding: 1vmin;
    border: 1px solid var(--white);
}